html{
    min-height: 100vh !important;
}

body {
    min-height: 100vh !important;
    background-color: #2AB39E !important;
}

.main {
    background-color: #F8F9FA !important;
    min-height: 100vh !important;
    justify-content: center;
}

.table-input {
    align-items: center !important;
    justify-content: center !important;
}

.link { 
    color: #2A4D6A !important; 
} 

.form-check-input:checked {
    background-color: #294C69 !important;
}

.blue-text{
    color: #294C69 !important;
}

.blue-border {
    border: 10px solid !important;
    border-color: #294C69 !important;
    border-radius: 10px !important;
}

.blue-header {
    color: #294C69 !important; 
    text-align: center !important; 
    font-size: 40px !important;
}

.blue-button {
    background-color: #294C69 !important; 
    color: #F8F9FA !important; 
    border-color: #2AB39E !important;
}

.blue-secondary-header {
    color: #294C69 !important; 
    text-align: center !important; 
    font-size: 20px !important;
}

.green-text {
    color:#2AB39E !important;
    text-decoration: none !important;
}

.green-secondary-header {
    color: #2AB39E !important; 
    text-align: center !important; 
    font-size: 20px !important;
}

.green-border {
    border: 10px solid !important;
    border-color: #2AB39E !important;
    border-radius: 10px !important;
}

.green-button {
    background-color: #2AB39E !important; 
    color: #F8F9FA !important; 
    border-color: #294C69 !important;
    min-width: fit-content !important;
    width: fit-content !important;
    height: fit-content !important;
}

.non-card-button {
    height: 5vh !important;
    width: 15vw !important;
}

.option:hover{
    background-color: #294C69;
}

.bg {
    background-image: url("backgroundImage.bmp");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
}

.red-text {
    color:rgb(211, 0, 0) !important;
}

.google-sign-in-button {
    background-color: #f2f2f2 !important;
    color: #1f1f1f !important;
    border: 1px solid #2A4D6A !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    cursor: pointer !important;
    border-radius: 5px  !important;
    display: flex !important;
    align-items: center;
}

.google-sign-in-button .google-icon {
    margin-right: 12px;
  }

.google-sign-in-button:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.noBulletsList {
    list-style-type: none;
}
