html{
    height: 100vh;
}

body {
    min-height: 100vh;
    background-color: #17A589 !important;
}

.main {
    background-color: #F8F9FA !important;
    min-height: 100vh !important;
    justify-content: center;
}

.table-input {
    align-items: center !important;
    justify-content: center !important;
}

.link { 
    color: #2A4D6A !important; 
} 

.form-check-input:checked {
    background-color: #2A4D6A !important;
}

.blue-text{
    color: #2A4D6A !important;
}

.blue-border {
    border: 10px solid !important;
    border-color: #2A4D6A !important;
    border-radius: 10px !important;
}

.blue-header {
    color: #2A4D6A !important; 
    text-align: center !important; 
    font-size: 40px !important;
}

.blue-button {
    background-color: #2A4D6A !important; 
    color: #F8F9FA !important; 
    border-color: #17A589 !important;
}

.blue-secondary-header {
    color: #2A4D6A !important; 
    text-align: center !important; 
    font-size: 20px !important;
}

.green-text {
    color:#17A589 !important;
}

.green-border {
    border: 10px solid !important;
    border-color: #17A589 !important;
    border-radius: 10px !important;
}

.green-button {
    background-color: #17A589 !important; 
    color: #F8F9FA !important; 
    border-color: #2A4D6A !important;
}

.non-card-button {
    height: 5vh !important;
    width: 15vw !important;
}

.option:hover{
    background-color: #2A4D6A;
}

.bg {
    background-image: url("backgroundimage.jpg");
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }